extends ../layout

block context
  h1 Your Tasks

  if (docs.length)
    table
      tr
        th Task
          each task in docs
            tr
            td #{task.task}
  else
    p You don't have any task!
